body{
	margin:0;
	padding: 0;
	background: url(image/bg.jpg) no-repeat;
	background-size: cover;
}
.box{
	width: 500px;
	background: rgba(150,150,150,0.1);
	padding: 40px;
	text-align: center;
	margin: auto ;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.box-image{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size:50px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size:30px;
	letter-spacing:3px: 
}
.box p{
	font-size:18px;
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;

}
.box li{
	display: inline-block;
	margin: 6px;
	life-style:none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #b9b9b9;
}